<nav class="sticky-top">
  <div class="navbar-logo">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="assets/logo%20uptc%20negro.png" width="192px" height="102px" alt="UPTC Logo">
    </a>
  </div>

  <div class="navbar-user" *ngIf="isLogin()">
    <label class="user-label">{{user.firstName}} {{user.lastName}}</label>
    <div class="dropdown">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill dropdown-toggle"
           fill="currentColor"
           xmlns="http://www.w3.org/2000/svg" id="dropdownMenuButton" data-toggle="dropdown">
        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="exitUser()">Cerrar sesión</a>
      </div>
    </div>
  </div>

  <div class="navbar-user" *ngIf="!isLogin()">
    <label class="user-label">Sesión no iniciada</label>
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
  </div>
</nav>
