<div id="general-info">
  <div class="container principal">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <p><strong>UNIVERSIDAD PEDAGÓGICA Y TECNOLÓGICA DE COLOMBIA</strong></p>
        <a href="/">Sede Central Tunja-Boyacá-Colombia</a>
        <p>Avenida Central del Norte 39-115</p>
        <p><strong>PBX: </strong>(57+8) 7405626</p>
        <p><a href="/">portalweb@uptc.edu.co</a> Comentarios de este sitio</p>
        <a href="/">Horario de atención y servicio telefónico</a>
        <p>Lunes a viernes de 8:00 a.m. a 12:00 m y 2:00 p.m a 6:00 p.m</p>
      </div>
      <div class="col-md-4">
        <a href="/">Atención al ciudadano</a>
        <p><strong>Línea Gratuita: </strong> 01 8000 942024 <strong>Tel: </strong> (57+8) 7428263</p>
        <a href="/">quejas.reclamos@uptc.edu.co</a>
        <br>
        <a href="/">Notificaciones Judiciales</a>
        <br>
        <a href="/">Notificaciones de aviso</a>
        <br>
        <a href="/">Estatutos, valores de matrícula y derechos pecuniarios</a>
        <br>
        <a href="/">Transparencia y Acceso a la Información Pública</a>
        <br>
        <a href="/">Rendición de cuentas</a>
      </div>
    </div>
  </div>
</div>
